.App {
  font-family: 'Poppins', sans-serif;
  font-size: larger;
  /* margin: 0; */
}

.nav-container {
  height: 80px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  align-content: center;
}

.nav--logo {
  padding-left: 35px;
}

.hero-container {
  padding: 5% 10%;
  display: flex;
  flex-direction: column;
}

.hero--banner {
  align-self: center;
  width: 90%;
}

.hero-container > h1 {
  margin-bottom: 0px;
}

.card-container {
  margin-top: 0;
  display: inline-flex;
  padding: 0 0 0 10% ;
  width: 200px;
  height: 370px;
}

.cards {
  flex: 0 0 auto;
  width: 215px;
}

.cards--imgAndBtn {
  position: relative;
}

.cards--img {
  width: 200px;
  height: 268px;
  position: absolute;
}

.cards--btn {
  position: absolute;
  border: none;
  padding: 4px 10px;
  margin: 7px;
  font-size: 12px;
  border-radius: 1px;
}

.cards--stats {
  font-size: 13.6px;
  padding: 260px 0 0 0;
}

.cards--stats p {
  margin-bottom: -5px;
}

.card--star {
  width: 16px;
  margin-top: 15px;
  margin-right: 4px;
  float: inline-start;
}

.location {
  font-weight: 250;
}

.price {
  font-weight: bold;
}